
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#ad-container {
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px #242323;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: 24px;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    color: #fff;
    background: #007BFF;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}